.footer{
    background:linear-gradient(254.72deg,rgba(255,255,255,.276)-114.85%,rgba(255,255,255,0)69.04%),url(./image/dc.svg) no-repeat top center, url(./image/dc.svg) no-repeat bottom right, #040613;
    padding: 117px 0 54px;
    color:#fff;
    font-family:Montserrat;
}